{% extends 'taskmanag/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Task List</h2>
    <a href="{% url 'add_task' %}" class="btn btn-primary mb-4">Add Task</a>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.description|truncatewords:10 }}</td>
            <td>
                <a href="{% url 'view_task' task.id %}" class="btn btn-info btn-sm">View</a>
                <a href="{% url 'edit_task' task.id %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'delete_task' task.id %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}



